@tailwind base;
@tailwind components;
@tailwind utilities;






/*  Pie Chart */

/* ตั้งค่าหลักของ container */
.pie-chart-container {
    text-align: center;
    font-family: serif;
    padding: 40px 20px;
    height: 100vh;
    align-items: center;
  justify-content: center;


  }
  
  /* สไตล์สำหรับ title */
  .pie-chart-title {
    justify-items: center;
    color: #8b0000;
  }
  
  /* สไตล์สำหรับ loading text */
  .loading-text {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* สไตล์สำหรับ wrapper ของกราฟ */
  .pie-chart-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    align-items: center;    /* จัดให้อยู่ตรงกลาง */
  }

  .pie-chart-container .chartjs-legend {
    margin-right: 60px; /* ระยะห่างระหว่าง label และ chart */
  }
  

  