@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pie Chart */

.PieChart {
  display: grid;
  grid-template-areas:
    "pie-chart-title"
    "pie-chart-container";
  text-align: center;
  font-family: serif;
  height: 100vh;
}

/* ตั้งค่าหลักของ container */
.pie-chart-container {
  grid-area: pie-chart-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: serif;
}

/* สไตล์สำหรับ title */
.pie-chart-title {
  grid-area: pie-chart-title;
  color: #8b0000;
  
  font-size: 5rem;
  
}

/* สไตล์สำหรับ loading text */
.loading-text {
  font-size: 1.2rem;
  color: #555;
}

/* สไตล์สำหรับ wrapper ของกราฟ */
.pie-chart-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลาง */
  align-items: center;    /* จัดให้อยู่ตรงกลาง */
}

.pie-chart-container .chartjs-legend {
  margin-right: 60px; /* ระยะห่างระหว่าง label และ chart */
}