/* กล่อง Welcome */
.welcome-section {
  background-color: #ffffff00;
  border-radius: 1rem;
  padding: 2rem;
  position: absolute; /* ใช้ positioning เพื่อจัดตำแหน่ง */
  left: 182px; /* ตั้งตำแหน่งที่พิกัด x */
  top: 101px; 
}

/* กล่อง Login */
.login-section {
  background-color: rgba(0, 0, 0, 0.363);
  padding: 2rem;
  position: absolute; /* เพิ่มการกำหนดตำแหน่ง */
  left: 769px; /* ตั้งตำแหน่งที่พิกัด x */
  top: 101px;
}

/* ปุ่ม Login */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 10px;
  transition: background 0.3s ease;
}
.login-button:hover {
  background-color: #4338ca;
}

/* Input Field */
.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
}
.login-input:focus {
  border-color: #4f46e5;
}

/* ปุ่ม Social */
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease;
}
