
/* กล่องที่ 1: Welcome Section */
.welcome-section {
    background-color: #ffffff00; 
    padding: 1.5rem;
    position: absolute; 
    left: 182px; 
    top: 101px; 
    width: 100%;
    max-width: 30rem; 
}

/* กล่องที่ 2: Sign-in Section */
.sign-in-section {
    background-color: #ffffff;
    padding: 1.5rem;
    position: absolute; 
    left: 769px; 
    top: 101px; 
    width: 100%;
    max-width: 30rem;
}